@model IEnumerable<PawsPort.Models.Pet>

@{
    ViewData["Title"] = "List";
}

<h1>寵物資料一覽表</h1>
@using (Html.BeginForm())
{
    @:關鍵字 @Html.TextBox("txtKeyword")
    <input type="submit" value="查詢" />
}

<p>
    <a asp-action="Create" class="btn btn-primary ">建立新資料</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PetId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpeciesId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoatColor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BehavioralTraits)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsHighMaintenance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDesex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeletedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PetId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpeciesId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoatColor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Photo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BehavioralTraits)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsHighMaintenance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDesex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeletedAt)
            </td>
            <td>
                    @Html.ActionLink("資料修改", "Edit", "Pet", new { id = item.PetId }, new { @class = "btn btn-success" }) |
                    
                    @Html.ActionLink("資料刪除", "Delete", "Pet", new { id = item.PetId }, new { onclick = "return confirm('確定要刪除嗎?')", Class = "btn btn-danger" })
            </td>
        </tr>
}
    </tbody>
</table>
