@model IEnumerable<PawsPort.Models.Category>

@{
    ViewData["Title"] = "CategoryList";
}

<h1>CategoryList</h1>

@using (Html.BeginForm())
//beginform的參數是(動作,控制器,方法)
//如果不寫參數，預設就是當前的動作和控制器，方法預設是post
{
    @:關鍵字 @Html.TextBox("txtKeyword")
    //三個參數分別是(欄位名稱,預設值,html屬性)
    //txtKeyword是欄位名稱，預設值是空字串，html屬性是class="form-control"
    <input type="submit" value="查詢" />
}

<p>
    <a asp-action="CreateCategory">新增分類</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                序
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Level)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SortOrder)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.IsExist)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.CreateAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastEditTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @{
            int count = 0;
            foreach (var item in Model)
            {
                count++;
                <tr>
                    <td>
                        @count
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CategoryName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CategoryDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ParentId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Level)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SortOrder)
                    </td>

                    @*<td>
                @Html.DisplayFor(modelItem => item.IsExist)
            </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.CreateAt)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastEditTime)
                    </td>

                    <td>
                        @Html.ActionLink("編輯", "EditCategory", "Category", new { id = item.CategoryId }, null) |
                        @Html.ActionLink("刪除", "DeleteCategory", "Category", new { id = item.CategoryId }, new { onclick = "return confirm('確定要刪除嗎？');" })
                    </td>
                </tr>
            }

        }
    </tbody>
</table>
