@model IEnumerable<PawsPort.ViewModels.MissingReportListViewModel>

@{
    ViewData["Title"] = "List";
}

<h1>走失列表</h1>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="../MissingReports/List">走失列表</a></li>

    </ol>
</nav>
@using (Html.BeginForm())
{
    @:關鍵字 @Html.TextBox("txtKeyword")
    <input type="submit" value="查詢" />
}

<p>
    <a asp-action="Create" class="btn btn-primary ">新增資料</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                序
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PetId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastSeenDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastSeenLat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastSeenLng)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LostLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int count = 0; 
            foreach (var item in Model) {
                count++;
                <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
                    <td>
                        @count
                    </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.PetId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastSeenDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastSeenLat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastSeenLng)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LostLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                    @Html.ActionLink("編輯", "Edit", "MissingReports", new { id = item.ReportId }, new { @class = "btn btn-success" }) |

                    @Html.ActionLink("刪除", "Delete", "MissingReports", new { id = item.ReportId }, new { onclick = "return confirm('確定要刪除嗎?')", Class = "btn btn-danger" })
            </td>
        </tr>
}}
    </tbody>
</table>
