@model IEnumerable<PawsPort.Models.Article>

@{
    ViewData["Title"] = "ArticleList";
}

<h1>貼文列表</h1>
@using (Html.BeginForm())
//beginform的參數是(動作,控制器,方法)
//如果不寫參數，預設就是當前的動作和控制器，方法預設是post
{
    @:關鍵字 @Html.TextBox("txtKeyword")
    //三個參數分別是(欄位名稱,預設值,html屬性)
    //txtKeyword是欄位名稱，預設值是空字串，html屬性是class="form-control"
    <input type="submit" value="查詢" />
}

<p>
    <a asp-action="CreateArticle">新增貼文</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                序
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastEditTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.ViewCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReportedCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastReported)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventStartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventEndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventLocation)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.IsExist)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int count = 0;
            foreach (var item in Model)
            {
                count++;
                <tr>
                    <td>
                        @count
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreateAt)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastEditTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Content)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    @* <td>
                @Html.DisplayFor(modelItem => item.ViewCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReportedCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastReported)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventStartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventEndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventLocation)
            </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.IsExist)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CategoryId)
                    </td>
                    <td>
                        @Html.ActionLink("編輯", "EditArticle", "Article", new { id = item.ArticleId }, null) |
                        @Html.ActionLink("刪除", "Delete", "Article", new { id = item.ArticleId }, new { onclick = "return confirm('確定要刪除嗎?')" })
                    </td>
                </tr>
            }
        
}
    </tbody>
</table>
