@model IEnumerable<PawsPort.Models.UserTable>

@{
    ViewData["Title"] = "BlockList";
}
@section Styles {
    <link href="~/css/XiangList.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">
}

<h1>Member</h1>
<span class="mb-4 d-block">會員管理 <i class="fa-solid fa-angle-right"></i> <span class="text-primary">違規名單</span></span>
<div class="card shadow mb-4" style="box-shadow: 0 .15rem 0 0 rgba(58, 59, 69, .15) !important;">
    <div class="card-body">
        <div class="w-100 d-flex justify-content-end">
            <a asp-action="BlockListCreate" class="btn btn-light btn-icon-split">
                <span class="icon text-gray-600">
                    <i class="fa-solid fa-plus"></i>
                </span>
                <span class="text">新增違規名單</span>
            </a>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered" id="ListDatatable" width="100%" cellspacing="0" ">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.UserId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Note)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.UpdatedAt)
                        </th>
            
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Note)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UpdatedAt)
                            </td>
            
                            <td>
                                @Html.ActionLink("編輯", "BlockListEdit", new { id = @item.UserId }, new { @class = "" }) 
                                @Html.ActionLink("解除封鎖", "BlockListDelete", new { id = @item.UserId }, new { onclick = "return confirm('您確定要解除封鎖此使用者嗎？');", @class = "" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/demo/MemberListDataTable.js"></script>