@model IEnumerable<PawsPort.Models.Faq>

@{
    ViewData["Title"] = "FAQ";
}



<style>
   
    .breadcrumb-item + .breadcrumb-item::before {
        content: ">" !important;
        color: #6c757d;
    }
</style>


<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent px-0 mb-2">
        <li class="breadcrumb-item"><a href="~/Home/Index" class="text-decoration-none text-muted"><i class="fas fa-home mr-1"></i>首頁</a></li>
        
        <li class="breadcrumb-item active font-weight-bold" aria-current="page" style="color: #8C5A3C; !important;">常見問題</li>
    </ol>
</nav>



<h2 class="font-weight-bold">．常見問題</h2>


<div class="d-flex justify-content-end mb-3">
    <h6>
        <a asp-action="Create" class="btn btn-warning text-dark font-weight-bold">
            <i class="fas fa-plus mr-2"></i>新增常見問題
        </a>
    </h6>
</div>
    

<table class="table">
    <thead>
        <tr class="text-center text-nowrap">
            <th>NO.</th>
            <th>類型</th>
            <th>問題</th>
            <th>回答</th>
            <th>備註</th>
            <th>建立日期</th>
            <th>停刊日期</th>
            <th>發佈狀態</th>
            <th>是否上架</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>

        @{
            int count = 0;
            @foreach (var item in Model)
            {
                count++;
                <tr>
                    <td class="text-center font-weight-bold">
                        @count
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.QuestionType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Question)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Answer)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.Note)
                    </td>
                    <td class="text-nowrap align-middle">
                        @Html.DisplayFor(modelItem => item.CreateAt)
                    </td>
                    <td class="text-nowrap align-middle">
                        @Html.DisplayFor(modelItem => item.StoppedDate)
                    </td>
                    <td class="text-center text-nowrap align-middle">
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td class="text-center text-nowrap align-middle">
                        @if (item.Status == "已發佈")
                        {
                            <input type="checkbox" checked disabled />
                        }
                        else
                        {
                            <input type="checkbox" disabled />
                        }
                    </td>
                    <td class="text-nowrap">
                        @Html.ActionLink("修改", "Edit", new { id = item.Faqid }, new { @class = "btn btn-sm btn btn-info" }) |
                        @Html.ActionLink("刪除", "Delete", new { id = item.Faqid },
                       new { onclick = "return confirm('確定要刪除嗎?')", Class = "btn btn-sm btn btn-danger" })
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
